{% comment %}
This template is for AJAX loading of search results. Allows querying and displaying of results without Page Refresh,
To reduce response time and improve usability
{% endcomment %}

{# Looping through all the customers returned by the query#}
{% for customer in customers %}
  {# {% if debts %} #}
        {# Rendering the matches on Bootstrap Well divs#}
        <div class="well">
        <span>Customer Name:<b>    &nbsp;&nbsp;&nbsp;&nbsp; {{ customer.first_name }} {{ customer.last_name }}</b></span><br>
        <span>National ID Number:  <b>{{ customer.idNumber }}</b></span><br>
        <span>Customer Phone:      &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ customer.phone }} </b></span><br>
       <spam>Loan Amount:          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ debt.amount }}</b></spam><br>
       <span>Debt Status:          &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; <b>{{ debts.status }}</b></span>

    </div>
    {# {% endif %} #}
{% endfor %}

{# Suppose no customer matches the query, we render a Popup alert #}
{% if not customers %}
   <div class="alert alert-danger alert-dismissable fade in">
   <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 <strong>No One Matching the details you queried has been found</strong> .
</div>

{# This is to allow the Alert to close automatically after 2 seconds #}
<script type="text/javascript">
    window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 2000);
</script>
{% endif %}


