   {# This is the landing page, displayed to an unauthenticated user #}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>iDebtor | Home</title>

  {# These are the CSS files (Bootstrap3.7) #}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

   
    {# <link href="{% static 'css/cover.css' %}" rel="stylesheet"> #}

  
  </head>
  <body>
{% include 'navbar.html' %}
<hr>
<br><br>
<div class="container">
   <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Welcome to iDebtor</h1>
        <p class="lead text-muted">You can opt to <a href="{% url 'reports' %}">check all the Debtors and their Loan status</a>, or you can <a href="{% url 'search' %}">Search for individual Customers</a> using their phone numbers</p>
        <p>
          <a href="{% url 'reports' %}" class="btn btn-primary">Check Debt Reports</a>
          <a href="{% url 'search' %}" class="btn btn-primary">Search for Debtor</a>
        </p>
      </div>
    </section>
    </div>
    
     <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>  <!-- JQUERY HERE -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
  </body>
</html>
