{# This is the landing page, displayed to an unauthenticated user #}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>iDebtor | Home</title>

  {# These are the CSS files (Bootstrap3.7) #}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

   
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">

  
  </head>

{# Rendering the Background image, the CSS is for tweaking rendering on Mobile #}
  <body style="background:url({% static 'img/idebtor.jpg'%});background-repeat: no-repeat;
                                                              background-position: center center;
                                                              background-attachment: fixed;
                                                              background-size: cover;">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">
 
        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"></h3>
            
            </div>
          </div>

          <div class="inner cover">
          {# Rendering the navbar #}
          {% include "navbar.html" %}
          
            <h1 class="cover-heading"><strong>Welcome to iDebtor</strong></h1>
            <p class="lead">Access Loan Statuses on Debtors from all over the world, from the comfort of your desktop or Smart Phone.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>iDebtor &copy; 2017</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    {# This is the bootstrap JS  #}
     <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>  <!-- JQUERY HERE -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
  </body>
</html>
