{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create an account{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<br><br><br>
<div class="content">
<h1 class="text-center">Create new transaction</h1>
<div class="col-sm-6 col-sm-offset-3" text-center>
<form action="{% url 'new_debtor' %}" method="post">
{{ user_form | crispy }}
{% csrf_token %}
<p><input type="submit" class="btn btn-primary btn-block" value="Create my account"></p>
</form>
</div>
</div>
{% endblock %}