 {# This template renders the Search Form and also loads the _customer_search template that contains the returned results of queries submitted #}
 {% load static %}
 {% load crispy_forms_tags%}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    {# Offline CSS - Bootstrap #}
   <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/search-hashtag.css' %}" rel="stylesheet">
    <title>iDebtor</title>
    </head>

    <body>
    {% include 'navbar.html' %}
    <br><br><br>

        <div class="container" style="margin-top: 10px; margin-bottom: 10px;">
            
            <br>
         
            <h2 class="text-center">Search Customer by ID or Phone.</h2><br>
            <div class="text-center"><h4>Autocompletion + Suggestion for Customer IDs is ON</h4></div>
            <hr>
            <div class="row">
            <div class="col-md-8 col-md-offset-2">
            <form id="search-form" action="/search" method="POST">{% csrf_token %}
    <div class="input-group">
        
       {{ form.query }}
    
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit">Go!</button>
      </span>
    </div>
    </form>
    </div>
   
  </div>
      </div>
            </form>
              <hr>
              
            </div>
            <div class="col-md-8 col-md-offset-2" id="cust">

              </div>


       
    </body>

    {#  #}
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
     <script src="{% static 'js/typeahead.bundle.js' %}"></script>
    <script src="{% static 'js/search-hashtag.js' %}"></script>
     <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
   
   <script type="text/javascript" src="{% static 'js/search.js' %}"></script>

  

   <script type="text/javascript" src="{% static 'js/customer.js' %}"></script>

</html>
