{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create an account{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<br><br><br>
<div class="content">
<h1>Create an account</h1>
<p>Please Create new Customer using this form:</p>
<div class="col-sm-6 col-sm-offset-3" text-center>
<form action="{% url 'new_debtor' %}" method="post">
{{ user_form | crispy }}
{% csrf_token %}
<p><input type="submit" value="Create my account"></p>
</form>
</div>
</div>
{% endblock %}